# This is a GitHub workflow defining a set of jobs with a set of steps.
# ref: https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions
#
name: Tests

on:
  pull_request:
    paths-ignore:
      - "docs/**"
      - "**.md"
      - "**.rst"
      - ".github/workflows/*"
      - "!.github/workflows/test.yaml"
  push:
    paths-ignore:
      - "docs/**"
      - "**.md"
      - "**.rst"
      - ".github/workflows/*"
      - "!.github/workflows/test.yaml"
    branches-ignore:
      - "pre-commit-ci-update-config"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  # Run the tests in various configurations
  pytest:
    runs-on: ubuntu-22.04

    strategy:
      # Keep running even if one variation of the job fail
      fail-fast: false
      matrix:
        include:
          - python: "3.8"
          - python: "3.9"
          - python: "3.10"
          - python: "3.11"

    steps:
      - uses: actions/checkout@v3
      # NOTE: actions/setup-python@v4 make use of a cache within the GitHub base
      #       environment and setup in a fraction of a second.

      - name: Install Node v14
        uses: actions/setup-node@v3
        with:
          node-version: "14"

      - name: Install Javascript dependencies
        run: |
          npm install
          npm install -g configurable-http-proxy
          npm list

      - name: Install Python ${{ matrix.python}}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}

      - name: Install Python dependencies
        run: |
          pip install --upgrade pip
          pip install -e ".[test]"
          pip freeze

      - name: Run the tests
        run: |
          pytest -v --cov=pytest_jupyterhub tests

      - name: Submit codecov report
        uses: codecov/codecov-action@v3
